name: Deploy to Azure Functions

on:
    push:
        branches:
            - main
    workflow_dispatch:

env:
    AZURE_FUNCTIONAPP_NAME: "weather-image-func-eg2kg4p2kzwtc"
    AZURE_FUNCTIONAPP_PACKAGE_PATH: "."
    DOTNET_VERSION: "8.0.x"

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: "Checkout GitHub Action"
              uses: actions/checkout@v4

            - name: Setup .NET ${{ env.DOTNET_VERSION }} Environment
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: ${{ env.DOTNET_VERSION }}

            - name: "Resolve Project Dependencies"
              shell: bash
              run: |
                  pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
                  dotnet build --configuration Release --output ./output
                  popd

            - name: "Run Azure Functions Action"
              uses: Azure/functions-action@v1
              id: fa
              with:
                  app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
                  package: "${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/output"
                  publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
